[user]
	email = maweki@gmail.com
	name = Mario Wenzel
[core]
	editor = nano
[log]
	decorate = short
[push]
	default = current
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	unstage = reset HEAD --
	a = add
	ap = add --patch
	l = log
	g = gui
	r = rebase
	ri = rebase --interactive
	d = diff
	s = status
	cm = commit -m
	rsv = remote --verbose show
	rvs = remote --verbose show
[submodule]
	fetchJobs = 4
[diff]
	compactionHeuristic = true
