[user]
	email = maweki@gmail.com
	name = Mario Wenzel
[core]
	editor = nano
[log]
	decorate = short
[push]
	default = current
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	unstage = reset HEAD --
	ap = add --patch
	cm = commit -m
	g = gui
	r = rebase
	ri = rebase --interactive
	d = diff
[submodule]
	fetchJobs = 4
[diff]
	compactionHeuristic = true
